html
  head
    title Fb Graffiti
    //- style(type='text/css').
    link(rel='stylesheet', href="/style.css")
  body
    - var host="https://s3.amazonaws.com/facebookGraffiti/"
    button(id="optOut") Block My Account From Graffiti
    #container.clearfix
      if imgList.length > 0
        each img in imgList
          .box.photo.col3
            - var url = 'https://www.facebook.com/photo.php?fbid='+img.id
            a(href=url, target="_blank", title="")
              img(src=host+img.id+".png", class="graffiti")
              img(src=img.url)
            p=img.time
            button(id=img.id).erase Erase graffiti
      else
        h2 None of your photos have graffiti.
  
  //- style(src="style.css")    
  script(src="jquery-1.7.1.min.js")
  script(src="jquery.masonry.min.js")
  script(type='text/javascript').
    var user = "#{user}"
    $(function(){

      var $container = $('#container');
      $container.imagesLoaded( function(){
        console.log('loaded')
        //- $('#content').masonry('reload');
        $container.masonry({
          //- columnWidth: 400,
          itemSelector : '.box'
        });
      });
      $('#optOut').click(function() {
        optOut = confirm("This will erase all graffiti on your images permanently. Are you sure?")
        if (optOut) {
          //- var url = 'https://fb-graffiti.com/clear'
          var url = 'https://localhost/optOut'
          $.post(url, { user: user }, function() {
            $('.box').fadeOut("slow", function() {
            $container.masonry( 'remove', $('.box') );
              $container.masonry();
              alert('All graffiti has been removed.');
            });
          });
        }
      });
      $('.erase').click(function() {
        erase = confirm("Erase this completely? (cannot be undone)")
        if (erase) {
          post = $(this).parent()
          var url = 'https://fb-graffiti.com/clear'
          var data = { id: $(this).attr('id') }
          post.fadeOut("slow", function() {
            $container.masonry( 'remove', post );
            $container.masonry();
            alert('Graffiti has been laboriously scrubbed off.')
          });
          $.post(url, data)
        }
      });
      $(".photo").mouseenter(function() {
        $(this).find('.graffiti').hide()
      }).mouseleave(function() {
        $(this).find('.graffiti').show()
      })
    });