html
  head
    title Most Graffitied Pages in Last Week
    link(rel='stylesheet', href="/style.css")
  body
    //- - var host="https://s3.amazonaws.com/facebookGraffiti/"
    #container
      each page, i in pages
        .page
          a(href=page.link, target="_blank", title="")
            p=page.name
            img(src=page.picture.data.url).profile
        //- hr
        //- br
        //- - var url = 'https://www.facebook.com/photo.php?fbid='+img.id
        //- a(href=url, target="_blank", title="")
        //-   img(src=host+img.id+".png", class="graffiti")
        //-   img(src=img.url)

  script(type='text/javascript').
    //- $(function(){

    //- });